<?xml version="1.0" encoding="utf-8" ?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="robot_arm_description">
    <link name="arm_base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/arm_base_link.STL" />
            </geometry>
            <material name="">
                <color rgba="0.2 0.2 0.2 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/arm_base_link.STL" />
            </geometry>
        </collision>

    </link>
    <link name="arm_link1">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/arm_link1.STL" />
            </geometry>
            <material name="">
                <color rgba="0.2 0.2 0.2 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/arm_link1.STL" />
            </geometry>
        </collision>

    </link>
    <joint name="joint1" type="revolute">
        <origin xyz="0 0 0.0525" rpy="0 0 -0.0017827" />
        <parent link="arm_base_link" />
        <child link="arm_link1" />
        <axis xyz="0 0 -1" />
        <limit lower="-1.57" upper="1.57" effort="0" velocity="0" />
    </joint>
    <link name="arm_link2">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/arm_link2.STL" />
            </geometry>
            <material name="">
                <color rgba="0.2 0.2 0.2 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/arm_link2.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="joint2" type="revolute">
        <origin xyz="0 0 0.02525" rpy="-1.5708 0 0" />
        <parent link="arm_link1" />
        <child link="arm_link2" />
        <axis xyz="-0.0017827 0 1" />
        <limit lower="-1.57" upper="1.57" effort="0" velocity="0" />
    </joint>
    <link name="arm_link3">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/arm_link3.STL" />
            </geometry>
            <material name="">
                <color rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/arm_link3.STL" />
            </geometry>
        </collision>
        
<inertial>
            <mass value="0.1" />
            <inertia ixx="0.03" iyy="0.03" izz="0.03" ixy="0.0" ixz="0.0" iyz="0.0" />
        </inertial>

    </link>
    <joint name="joint3" type="revolute">
        <origin xyz="0.0005 -0.09315 0" rpy="0 0 0" />
        <parent link="arm_link2" />
        <child link="arm_link3" />
        <axis xyz="-0.0017827 0 1" />
        <limit lower="-2.355" upper="2.355" effort="0" velocity="0" />
    </joint>
    <link name="arm_link4">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/arm_link4.STL" />
            </geometry>
            <material name="">
                <color rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/arm_link4.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="joint4" type="revolute">
        <origin xyz="0.00050137 -0.09315 -0.00076869" rpy="0 -0.0017827 0" />
        <parent link="arm_link3" />
        <child link="arm_link4" />
        <axis xyz="0 0 1" />
        <limit lower="-2.355" upper="2.355" effort="0" velocity="0" />
    </joint>
    <link name="right_gripper_finger">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/right_gripper_finger.STL" />
            </geometry>
            <material name="">
                <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/right_gripper_finger.STL" />
            </geometry>
        </collision>

    </link>
    <joint name="right_finger_joint" type="revolute">
        <origin xyz="0.000346699936491016 -0.0976630936564846 -0.00965000000000641" rpy="1.5707963267949 0 -1.57079632679491" />
        <parent link="arm_link4" />
        <child link="right_gripper_finger" />
        <axis xyz="0 0 1" />
        <limit lower="-0.785" upper="0" effort="0" velocity="1.57" />
    </joint>
    <link name="left_gripper_finger">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/left_gripper_finger.STL" />
            </geometry>
            <material name="">
                <color rgba="0.2 0.2 0.2 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/left_gripper_finger.STL" />
            </geometry>
        </collision>

    </link>
    <joint name="left_finger_joint" type="revolute">
        <origin xyz="0.000380830718078186 -0.0976500000000001 0.0121999999999936" rpy="1.5707963267949 0 -1.5707963267949" />
        <parent link="arm_link4" />
        <child link="left_gripper_finger" />
        <axis xyz="0 0 -1" />
        <limit lower="-0.785" upper="0" effort="0" velocity="1.57" />
    </joint>
    <link name="grasp_link" />
    <joint name="grasp_joint" type="fixed">
        <origin xyz="0 -0.18 0" rpy="0 0 0" />
        <parent link="arm_link4" />
        <child link="grasp_link" />
    </joint>
    
<transmission name="trans_joint1">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint1">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="joint1_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_joint2">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint2">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="joint2_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_joint3">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint3">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="joint3_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_joint4">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint4">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="joint4_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_right_finger_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="right_finger_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="right_finger_joint_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_left_finger_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="left_finger_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="left_finger_joint_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
        </plugin>
    </gazebo>
    <transmission name="trans_joint1">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint1">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="joint1_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_joint2">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint2">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="joint2_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_joint3">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint3">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="joint3_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_joint4">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint4">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="joint4_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_right_finger_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="right_finger_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="right_finger_joint_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_left_finger_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="left_finger_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="left_finger_joint_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
        </plugin>
    </gazebo>
</robot>
