<launch>
 <include file="$(find abot)/launch/lidar/$(env ABOTLIDAR).launch" />
  <include file="$(find abot)/param/slam/slam_gmapping.xml" />
  <include file="$(find explore_lite)/launch/explore.launch" />
  <include file="$(find abot)/launch/move_base.launch" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find abot)/rviz/slam.rviz" required="true" />
</launch>
