<launch>
 <arg name="camera_type" value="$(env CAMERA)"/>
  <arg if="$(eval arg('camera_type') == 'astra')" name="input_image"        default="/camera/rgb/image_raw"/>
  <arg if="$(eval arg('camera_type') == 'astrapro')" name="input_image"        default="/camera/rgb/image_raw"/>
  <arg if="$(eval arg('camera_type') == 'usb')" name="input_image"        default="/camera/rgb/image_raw"/>
  <arg if="$(eval arg('camera_type') == 'csi')" name="input_image"        default="/camera/rgb/image_raw"/>
  <arg if="$(eval arg('camera_type') == 'intel')" name="input_image"      default="/camera/color/image_raw"/>

    <rosparam  file="$(find abot_traffic_trtdetect)/config/paths.yaml" command="load"/>

    <node name="abot_detect_node"  pkg="abot_traffic_trtdetect" type="abot_traffic_trtdetect"  output="screen">
          <param name="image_topic" value="$(arg input_image)" />
          <remap from="~imin" to="/image_raw" />
    </node>

</launch>
