<launch>

  <arg name="calibration_mode" default="action" doc="calibration_mode type [calibration, action]"/>
  <group if="$(eval arg('calibration_mode') == 'action')">
  	<include file="$(find abot)/launch/navigate.launch" />
  </group>

  <node pkg="abot_xarm" type="abot_point_grasp" name="abot_move_grasp_node" output="screen">
    <param if="$(eval calibration_mode == 'calibration')" name="/is_detection_calibration_mode" value="True"/>
    <param if="$(eval calibration_mode == 'action')" name="/is_detection_calibration_mode" value="False"/>    

    <param name="port"  type="string" value="/dev/ttyACM0"/>
    <param name="baud"  type="int" value="115200"/>
    <param name="speed"  type="int" value="1800"/>
    <!--set servo angle, camera look down-->
    <param name="servo_x"  type="int" value="20"/>

    <!--calib camera to xarm pose param-->
    <rosparam param="calib_data">[61, 5, 514, 170, -40, -80]</rosparam> 

    <!-- fix grasp mode is True, robot not move nav, is False nav grasp -->
    <param name="fix_grasp_mode"  type="bool" value="False"/>

    <!-- set grasp pose and place pose  -->
    <param name="obj_grasp_pose"  type="string" value="2.942, -0.963, 0.000"/>
    <param name="obj_grasp_quat"  type="string" value="0.000, 0.000, 0.999, -0.033"/>

    <param name="obj_place_pose"  type="string" value="1.700, -1.982, 0.000"/>
    <param name="obj_place_quat"  type="string" value="0.000, 0.000, 0.698, 0.71"/>

  </node>
</launch>
