<launch>
  <arg name="camera_type" value="$(env CAMERA)"/>
  <arg if="$(eval arg('camera_type') == 'astra')" name="input_image"        default="/camera/rgb/image_raw"/>
  <arg if="$(eval arg('camera_type') == 'astrapro')" name="input_image"        default="/camera/rgb/image_raw"/>
  <arg if="$(eval arg('camera_type') == 'usb')" name="input_image"        default="/camera/rgb/image_raw"/>
  <arg if="$(eval arg('camera_type') == 'csi')" name="input_image"        default="/camera/rgb/image_raw"/>
  <arg if="$(eval arg('camera_type') == 'intel')" name="input_image"      default="/camera/color/image_raw"/>

  <node name="abot_facehaar_detect" pkg="abot_object_detect" type="abot_facehaar_detect.py" output="screen" >
      <param name="camera_topic" value="$(arg input_image)" type="string" />
  </node>
</launch>
