#! /usr/bin/env python
# abotPID.cfg - 用于PID控制器的动态重配置配置文件
# 此文件定义了可在abot机器人运动控制和校正中动态调整的参数

PACKAGE='abot_pid'
import roslib
roslib.load_manifest(PACKAGE)

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# 机器人运动控制的PID控制器参数
# 这些参数可以在运行时使用ROS动态重配置进行调整
#       名称       类型      级别 描述     默认值 最小值   最大值
gen.add("p",       double_t,    0,    "P常数 (比例增益) - 控制对当前误差的响应", 0.1,     -10.00, 10.00)
gen.add("d",       double_t,    0,    "D常数 (微分增益) - 控制对误差变化率的响应", 0.2,     -10.00, 10.00)
gen.add("i",       double_t,    0,    "I常数 (积分增益) - 控制对时间累积误差的响应", 0.2,     -10.00, 10.00)

# 使用包名、节点名和配置名生成配置
exit(gen.generate(PACKAGE, "abot_pid", "abotPID"))
