#!/usr/bin/env python
PACKAGE = "abot_xarm"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("x",        int_t,      0,      "x",        40,  -330, 330)
gen.add("y",        int_t,      0,      "y",        0,  -330, 330)
gen.add("z",     int_t,      0,         "z",        230,  -300, 410)
gen.add("rotary",     int_t,      0,         "rotary",        90,  0, 180)

exit(gen.generate(PACKAGE, "abot_xarm", "XarmPoseParams"))
